<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQH1d9Abm3r4w6LJFnEU4fwpOQ4AsKIWo</string>
	<key>GCM_SENDER_ID</key>
	<string>395473159192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amzy.poultryinventory</string>
	<key>PROJECT_ID</key>
	<string>poultryinventory</string>
	<key>STORAGE_BUCKET</key>
	<string>poultryinventory.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395473159192:ios:4e4f8527e476a6056fef6d</string>
</dict>
</plist>